<%-include("partials/header");-%>
<body>
    <!-- <span class="material-icons md-48 md-16" onclick="location.replace('/')">settings</span> -->
    <img  class="questionmarks consentImg" src="/images/finalquestionmarks.png" alt="questionmarks">
    <h1> پہیلیاں </h1>
    <p class="obj name col-lg-8 col-md-8 col-xs-8 col-sm-8 center-block consent urdu"> 
    یہ ایک پہیلیاں بوجھنے کا کھیل ہے جو ایک تحقیق کا حصہ ہے
    جس کا مقصد تجزیاتی استدلال اور فیصلہ سازی کے لحاظ سے علمی رویوں کو سمجھنا ہے۔
    جمع کردہ تمام ڈیٹا کو خفیہ رکھا جائے گا اور نام ظاہر نہیں کیا جائے گا۔
    <br><br>
    آگے بڑھنے سے، آپ تحقیق میں حصہ لینے پر رضامند ہے۔ </p> <br><br><br>
    <button class="button agree" onclick="location.replace('settingU')"> میں رضامند ہوں </button><br><br>
    <script src="/js/index.js"></script>
</body>
</html>