<%-include("partials/header");-%>
<body>
    <!-- <span class="material-icons md-48 md-16" onclick="location.replace('/')">settings</span> -->
    <img  class="questionmarks consentImg" src="/images/finalquestionmarks.png" alt="questionmarks">
    <h1> Riddle Me </h1>
    <p class="obj name col-lg-8 col-md-8 col-xs-8 col-sm-8 center-block consent"> 
        This is a riddle game which is part of a research aimed at understanding 
        cognitive behaviours in terms of analytical reasoning and decision making. <br>
        All data collected will be encrypted and anonymity will be maintained.
        <br><br>
        By continuing, you will be agreeing to take part in the research. </p> <br><br><br>
    <button class="button agree" onclick="location.replace('setting')"> I agree </button><br><br>
    <script src="/js/index.js"></script>
</body>
</html>