<%-include("partials/header");-%>
<body>
    <span class="material-icons md-48 md-16" onclick="location.replace('/settingU')">person</span>
    <img  class=questionmarks src="/images/finalquestionmarks.png" alt="questionmarks">
    <h1>  پہیلیاں </h1>
    <button class="button name col-lg-3 col-md-3 col-xs-3 col-sm-3 center-block" onclick="location.replace('questionsU')"> کھیل شروع کریں </button><br><br><br>
    <button class="button name col-lg-3 col-md-3 col-xs-3 col-sm-3 center-block"> لیڈربورڈ </button>
    <script src="/js/index.js"></script>
</body>
</html>

<!-- <div>Icons made by 
    <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from 
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div> -->