<%-include("partials/header");-%>
<body>
    <span class="material-icons md-48 md-16" onclick="location.replace('setting')">person</span>
    <img  class=questionmarks src="/images/finalquestionmarks.png" alt="questionmarks">
    <h1> Riddle Me </h1>

    <form action="/home" method="POST">
        <button class="button name col-lg-3 col-md-3 col-xs-3 col-sm-3 center-block" name="home" value="start"> Start </button><br><br><br>
        <button class="button name col-lg-3 col-md-3 col-xs-3 col-sm-3 center-block" name="home" value="leaderboard"> Leaderboard </button>    
    </form>
   <script src="/js/index.js"></script>
</body>
</html>

<!-- <div>Icons made by 
    <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from 
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div> -->