<%-include("partials/header");-%>
<body>
    <!-- <span class="material-icons md-48 md-16" onclick="location.replace('/')">person</span> -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <form action="/language" method="POST">
        <button class="button name col-lg-3 col-md-3 col-xs-3 col-sm-3 center-block" name="language" value="eng" onclick="location.replace('consent')"> English </button><br><br><br>
        <button class="button name col-lg-3 col-md-3 col-xs-3 col-sm-3 center-block" name="language" value="urdu" onclick="location.replace('consentU')"> اردو‎ </button>
        <br><br><br><br><br><br><br><br><br>     
    </form>
    <script src="/js/index.js"></script>
</body>
</html>