<%-include("partials/header");-%>
<body>
    <span class="material-icons md-48 md-16" onclick="location.replace('home')">arrow_back</span>
    <br><br><br><br><br><br>
    <h1> Leader Board </h1>
    <br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block yellowbox">
        <p class="sameLine1 num"> 1 </p>
        <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block leaderstyle">
            <p> Zoha Khan </p>
        </div>
        <!-- <p class="sameLine2 leaderstyle"> Zoha Khan </p> -->
        <!-- <i class="flag flag-us"></i> -->
        <!-- <span class="flag-icon flag-icon-ad"></span> -->
    </div>

    <script src="/js/index.js"></script>
</body>
</html>

<!-- <div>Icons made by 
    <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from 
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div> -->