<%-include("partials/header");-%>
<body >
    <span class="material-icons md-48 md-16" onclick="location.replace('homeU')">arrow_back</span>
    <br><br><br><br><br><br><br><br><br>
    <p class="obj name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block"> <%=question%> </p>
    <br><br><br><br>
    <form action="/questionsU" method="POST">
        <input class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" type="number" name="answer" placeholder="صرف نمبر درج کریں..."  dir="rtl">
        <br><br><br><br>
        <button class="button next name col-lg-2 col-md-2 col-xs-2 col-sm-2 center-block" type="submit"> آگے بڑھیں </button>
    </form>
    <script src="/js/index.js"></script>
</body>
</html>