<%-include("partials/header");-%>
<body >
    <span class="material-icons md-48 md-16" onclick="location.replace('/')">home</span>
    <br><br><br><br><br><br><br><br><br><br>
    <img  class="confetti left" src="/images/confettiL.png" alt="confetti" height="100" width="100">
    <img  class="confetti right" src="/images/confettiR.png" alt="confetti" height="100" width="100">
    <p class="congrats">
        Congrats! <br>
        Your Score: <br>
        <%=Score%>
    </p>
    <script src="/js/index.js"></script>
</body>
</html>